@import url('https://fonts.cdnfonts.com/css/fixedsys-excelsior-301');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  background-color: #262626;
  color: white;
}

body {
  font-family: "Fixedsys Excelsior 3.01", monospace;
}

.centering {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.dialog, button {
  padding: 15px;
  border: 1px red solid;
  border-radius: 5px;
  background-color: #262626;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}
.dialog > * {
  text-align: center;
}
#synInput {
  background-color: unset;
  border-width: 1px;
  border-color: red;
  border-style: none none solid none;
  font-family: inherit;
  color: white;
  font-size: inherit;
}

button {
  padding: 7.5px 15px;
  cursor: pointer;
  margin: 0 0 0.5rem 0 !important;
}
button:hover {
  background-color: #131313;
  transition: background-color 0.3s ease;
}

#dlg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #00000060;
  z-index: 1000;
}
#dlg > * {
  max-width: 100%;
  padding: 15px;
  border: 1px red solid;
  border-radius: 5px;
  background-color: #262626;
}